<%= form_for @donation do |f| %>
<%= render 'donations/error'%>

<p>
 <%= f.label :email %><br>
 <%= f.text_field :email %>
</p>

<p>
 <%= f.label :amount %><br>
 <%= f.number_field :amount, :value => @donation.amount, min: 0 %>
</p>

<p>
 <%= f.submit %>
</p>
<% end %>
