<%= form_for @match do |f| %>
  <%= render 'matches/error'%>
<p>
 <%= f.label :email %><br>
 <%= f.text_field :email %>
</p>

<p>
 <%= f.label :max_amount %><br>
 <%= f.text_area :max_amount %>
</p>

<div id="Matching">

  <p>
    If you want to match by ratio (percentage of donation),
    <input type="button" value="Click" class="ratio" id="ratio" />
  </p>

  <div class="ratio">
  </div>

  <p>
    If you want to match by fixed amount per donation,
      <input type="button" value="Click" class="fixed" id="fixed" />
  </p>

  <div class="fixed">
  </div>

</div>

<p>
 <%= f.submit %>
</p>
<% end %>
