<div class="dropdown">
  <button class="dropbtn">Home</button>
  <div class="dropdown-content">
    <%= link_to "Home", root_path %>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Match</button>
  <div class="dropdown-content">
    <%= link_to "All Matches", matches_path %>
    <%= link_to "Create Match", new_match_path %>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Donation</button>
  <div class="dropdown-content">
    <%= link_to "All Donations", donations_path %>
    <%= link_to "Create Donation", new_donation_path %>
  </div>
</div>
